html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
    background-color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: "PlayfairDisplay-Black"; 
    src: url("../fonts/PlayfairDisplay-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }
@font-face {
    font-family: "PlayfairDisplay-Bold"; 
    src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }  
    @font-face {
        font-family: "PlayfairDisplay-Regular"; 
        src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
        } 
        @font-face {
            font-family: "PlayfairDisplay-Italic"; 
            src: url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype"); 
            font-style: normal; 
            font-weight: normal; 
            }
body{
    font-family: "PlayfairDisplay-Regular";
}

/* html */
.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0px 10px;
}

@media (max-width:1200px){
    .container{
        max-width: 970px;
    }
}
@media (max-width:992px){
    .container{
        max-width: 750px;
    }
}
@media (max-width:938px){
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lifestyle{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .lifestyle__button{
        justify-content: center;
    }
    .background__image{
        max-height:100%;
        max-width: 100%;
    }
}
@media (max-width:767px){
    .container{
        max-width: none;
    }
}



.header{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
}
.logo{
    font-family: "PlayfairDisplay-Regular";
    color:black;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
    letter-spacing: 5px;
}
.logo:hover{
    color: rgb(59, 59, 59);
}
.menu{
    display: flex;
}
.menu__item{
    margin: 0px 0px 0px 25px;
}
.menu__item a{
    color:black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}
.menu__item a:hover{
    color: rgb(59, 59, 59);
}
.background__image{
    margin-top: 80px;
    height: 675px;
    width: 100%;
    background: url('../img/header__background.png') center center no-repeat;
    background-size: cover;
}
.photodiary{
    display: block;
    max-width: 870px;
    margin-bottom: 130px;
}
.block__subtitle{
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
}
.block__title{
    margin-top: 30px;
    font-size: 24px;
    
    color: rgb(98, 98, 98);
    line-height: 1.2;
}
.block__content{
    margin-top: 30px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
}
.lifestyle{
    max-width: 930px;
    display: flex;
    flex-wrap: wrap;
}
.block__column{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 130px;
    max-width: 400px;
}
.block__title h2{
    font-size: 22px;
}
.block__title h3{
    font-size: 35px;
    color: black;
    font-weight: 400;
}
.sign{
    margin: 0 auto;
}
.sign .input{
    margin-top: 85px;
    margin-bottom: 85px;
}
.sign__body .block__title h3{
    text-align: center;
}
.input input {
    font-size: 16px;
    outline: none;
    border: 0px;
}
.input__border{
    border-bottom: 1px solid #000;
}
.lifestyle__button{
    width: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.button__life{
    text-decoration: none;
    color: #404040;
    display: block;
    border: 1px solid #404040;
    font-weight: bold;
    padding: 15px 20px;

}
.button__life:hover{
    color: #363535;
    border: 1px solid #8d8787;
    background-color: rgb(251, 243, 243);
}
.load__content{
    display: none;
    margin-top: 100px
}
.footer{
    padding: 40px;
    background-color: rgb(228, 218, 218);
}
.footer__nav{
    display: flex;
    justify-content: space-between;
}
.footer__info, .footer__social{
    display: flex;
}
.footer__link{
    padding-left: 15px;
}
.footer__link a{
    text-decoration: none;
    color: #404040;
    font-weight: bold;
}
.footer__link a:hover{
    color: #8d8787;
}

.cart {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color:rgba(0,0,0,.9);
}
.cart h2{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
.cart .cart-field {
    width: 80%;
    height: 600;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid white;
}
.close {
    width: 200px;
    height: 50px;
    background-color: #fff;
    font-size: 26;
    margin-top: 10;
}
.open__cart{
    display: none;
}
